footer{
  background-color: #000;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  h6{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 2px 0 15px 0 ;
    text-transform: capitalize;
  }
  p{
    color: #fff;
    margin: 10px 0;
  }
  div{
    &:first-child{
      padding-right: 5%;
      mat-icon{
        transition: color 0.6s;
        padding-right: 5px;
      }
      a{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        text-decoration: none;
        color: #fff;
        transition: color 0.6s;
        &:hover{
          color: #7FC7ED;
          mat-icon{
            color: #E76D6D;
          }
        }
      }
    }
    &:nth-child(2){
      display: flex;
      flex-flow: column;
      padding: 0 10%;
      a{
        text-decoration: none;
        color: #fff;
        margin: 5px 0;
        transition: color 0.5s;
        &:hover{
          color: #83CDAC;
        }
      }
    }
    &:nth-child(3){
      padding: 0 10%;
    }
    &:last-child{
      display: flex;
      flex-flow: column;
      padding-left: 5%;
      a{
        text-decoration: none;
        color: #fff;
        margin: 5px 0;
        transition: color 0.5s;
        text-transform: capitalize;
        &:nth-child(2){
          &:hover{
            color: #f57ad1;
          }
        }
        &:nth-child(3){
          &:hover{
            color: #7adbf5;
          }
        }
        &:nth-child(4){
          &:hover{
            color: #418ced;
          }
        }
      }
    }
  }
}
