div{
  text-align: right;
}
h3{
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 15px;
}
img{
  width: 1000px;
  height: auto;
  border-radius: 15px;
}
